spring:
  profiles:
    active: h2
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: true

game:
  board:
    width: 8
    height: 8
  units:
    archer: 4
    cannon: 2
    transport: 2
